In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('C:\\Users\\Gaurvi\\Downloads\\ipl_data.csv')

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.info  #concise summary

<bound method DataFrame.info of        mid        date                                      venue  \
0        1  2008-04-18                      M Chinnaswamy Stadium
1        1  2008-04-18                      M Chinnaswamy Stadium
2        1  2008-04-18                      M Chinnaswamy Stadium
3        1  2008-04-18                      M Chinnaswamy Stadium
4        1  2008-04-18                      M Chinnaswamy Stadium
...    ...         ...                                        ...
76009  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal
76010  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal
76011  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal
76012  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal
76013  617  2017-05-21  Rajiv Gandhi International Stadium, Uppal

                    bat_team                    bowl_team      batsman  \
0      Kolkata Knight Riders  Royal Challengers Bangalore   SC Ganguly
1      Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
2      Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
3      Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
4      Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
...                      ...                          ...          ...
76009         Mumbai Indians       Rising Pune Supergiant    KH Pandya
76010         Mumbai Indians       Rising Pune Supergiant    KH Pandya
76011         Mumbai Indians       Rising Pune Supergiant    KH Pandya
76012         Mumbai Indians       Rising Pune Supergiant   MG Johnson
76013         Mumbai Indians       Rising Pune Supergiant    KH Pandya

             bowler  runs  wickets  overs  runs_last_5  wickets_last_5  \
0           P Kumar     1        0    0.1            1               0
1           P Kumar     1        0    0.2            1               0
2           P Kumar     2        0    0.2            2               0
3           P Kumar     2        0    0.3            2               0
4           P Kumar     2        0    0.4            2               0
...             ...   ...      ...    ...          ...             ...
76009  DT Christian   121        7   19.2           40               0
76010  DT Christian   127        7   19.3           46               0
76011  DT Christian   128        7   19.4           47               0
76012  DT Christian   129        7   19.5           48               0
76013  DT Christian   129        8   19.6           47               1

       striker  non-striker  total
0            0            0    222
1            0            0    222
2            0            0    222
3            0            0    222
4            0            0    222
...        ...          ...    ...
76009       40           12    129
76010       46           12    129
76011       47           12    129
76012       47           13    129
76013       47           13    129

[76014 rows x 15 columns]>

In [6]:
data.describe() #descriptive statistics

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
count,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000
mean,308.627740,74.889349,2.415844,9.783068,33.216434,1.120307,24.962283,8.869287,160.901452
std,178.156878,48.823327,2.015207,5.772587,14.914174,1.053343,20.079752,10.795742,29.246231
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.000000
25%,154.000000,34.000000,1.000000,4.600000,24.000000,0.000000,10.000000,1.000000,142.000000
50%,308.000000,70.000000,2.000000,9.600000,34.000000,1.000000,20.000000,5.000000,162.000000
75%,463.000000,111.000000,4.000000,14.600000,43.000000,2.000000,35.000000,13.000000,181.000000
max,617.000000,263.000000,10.000000,19.600000,113.000000,7.000000,175.000000,109.000000,263.000000

In [8]:
data = data.drop_duplicates()
data

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [9]:
data.isnull()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
76010,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
76011,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
76012,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
76013,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
data.isnull().sum()

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

In [11]:
data.notnull()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
76010,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
76011,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
76012,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
76013,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [12]:
data.isnull().sum().sum()

0

In [16]:
import numpy as np
from scipy import stats

In [17]:
#detect the outliers using IQR
data.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [19]:
data.drop(['mid'], axis=1, inplace=True)
data.columns

Index(['date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler', 'runs',
       'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [20]:
Q1= data.quantile(0.25)
Q3= data.quantile(0.75)
IQR= Q3-Q1
print(IQR)

runs              77.0
wickets            3.0
overs             10.0
runs_last_5       19.0
wickets_last_5     2.0
striker           25.0
non-striker       12.0
total             39.0
dtype: float64

In [23]:
data=data[~((data<(Q1-1.5*IQR))|(data2>(Q3+1.5*IQR))).any(axis=1)]
data

C:\Users\Gaurvi\AppData\Local\Temp\ipykernel_1732\3058057288.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  data=data[~((data<(Q1-1.5*IQR))|(data2>(Q3+1.5*IQR))).any(axis=1)]

,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [25]:
data.describe()

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
count,69204.000000,69204.000000,69204.000000,69204.000000,69204.000000,69204.000000,69204.000000,69204.000000
mean,70.414138,2.403430,9.387439,31.757312,1.150150,22.032296,7.126423,159.362017
std,46.659197,1.971011,5.736384,13.935035,1.022165,15.940319,7.503109,26.425670
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,92.000000
25%,32.000000,1.000000,4.400000,24.000000,0.000000,9.000000,1.000000,141.000000
50%,65.000000,2.000000,9.200000,33.000000,1.000000,19.000000,5.000000,160.000000
75%,104.000000,4.000000,14.300000,41.000000,2.000000,32.000000,11.000000,178.000000
max,226.000000,8.000000,19.600000,71.000000,5.000000,72.000000,31.000000,235.000000